:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin:auto;
  height: 100vh;
  background-image: url('background.png'); /* Replace with your image filename */
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: auto;
  min-width: 10vw;

}

/* styles/Home.module.css */
/* styles/Home.module.css */

.container {
  padding-top: 40vw;
  justify-content: center;
  display: flex;
  align-items: center;
}

.main {
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}

.description {
  font-size: 1.5rem;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #00ff00;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Courier New', monospace;
  border: 1px solid #00ff00;
  border-radius: 5px;
  margin-top: 20px;
}

.link:hover {
  background-color: #00ff00;
  color: #000;
}

.github {
  display: inline-block;
  background-image: url('github-mark-white.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2vh 3vh;
  padding-left:10vh;
  color: #ffffff;
  text-decoration: none;
  font-size: 4vh;
  height: 4vh;
  font-family: 'Courier New', monospace;
  border-top-left-radius: 5vh;
  border-bottom-left-radius: 5vh;
}
.github:hover {
  background-color: #00ff00;
  background-image: url('github-mark.png');
  color: #000;
}

.gh-pre {
   display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 15px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 4vh;
  height: fit-content;
  font-family: 'Courier New', monospace;
  border-radius: 5px;
  margin-top: 20px;
}