:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('background.png'); /* Replace with your image filename */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

/* styles/Home.module.css */
/* styles/Home.module.css */

.container {
  padding-top: 40vw;
  justify-content: center;
  display: flex;
  align-items: center;
}

.main {
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}

.description {
  font-size: 1.5rem;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #00ff00;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Courier New', monospace;
  border: 1px solid #00ff00;
  border-radius: 5px;
  margin-top: 20px;
}

.link:hover {
  background-color: #00ff00;
  color: #000;
}
